<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <!-- Responsive Datatable -->

        <section id="ngx-datatable-Responsive">
            <div class="col-12 mb-50">
                <h4 class="card-title">Responsive</h4>
                <button class="btn btn-primary ml-1" (click)="abrirModal()" rippleEffect>
                    <i data-feather="plus" class="mr-0 mr-sm-1"></i><span class="d-none d-sm-inline-block">Adicionar novo registro</span>
                </button>
                <!--
                <a csvLink [data]="exportCSVData" class="btn btn-outline-secondary float-right mr-1" rippleEffect>Export
                    CSV</a -->
                    <!-- ngx-datatables responsive -->
                <ngx-datatable #table class="bootstrap core-bootstrap" [columnMode]="ColumnMode.force"
                    [headerHeight]="40" [rowHeight]="58" [footerHeight]="50" rowHeight="auto" [limit]="10" [rows]="rows | async"
                    [scrollbarH]="true" style="padding-top: 10px;">
                    <ngx-datatable-column name="Descrição" prop="descricao" [width]="130"></ngx-datatable-column>
                    <ngx-datatable-column name="Valor" prop="valor" [width]="80"></ngx-datatable-column>
                    <ngx-datatable-column name="Tipo" prop="tipo" [width]="80">
                        <ng-template let-status="value" ngx-datatable-cell-template>
                            <div class="badge badge-pill" [ngClass]="{
                    'badge-light-danger': status == '1',
                    'badge-light-success': status == '2'
                  }">
                                {{
                                status == 1
                                ? 'Débito'
                                : status == 2
                                ? 'Crédito'
                                : 'Error'
                                }}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Ação" [width]="120" [sortable]="false">
                        <ng-template ngx-datatable-cell-template>
                            <div class="d-flex align-items-center">
                                <div ngbDropdown container="body">
                                    <a ngbDropdownToggle href="javascript:void(0);" class="hide-arrow"
                                        id="dropdownBrowserState" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        <i data-feather="more-vertical" class="text-primary cursor-pointer mr-50"></i>
                                    </a>
                                    <div ngbDropdownMenu class="dropdown-menu-right"
                                        aria-labelledby="dropdownBrowserState">
                                        <a href="javascript:void(0)" ngbDropdownItem
                                            class="d-flex align-items-center"><i data-feather="file-text"
                                                class="mr-50"></i> Editar</a>
                                        <a href="javascript:void(0)" ngbDropdownItem
                                            class="d-flex align-items-center"><i data-feather="trash-2"
                                                class="mr-50"></i> Deletar</a>
                                    </div>
                                </div>

                                <i data-feather="edit" class="text-primary cursor-pointer"></i>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
                <!--/ ngx-datatables responsive -->
            </div>>
        </section>
        <!--/ Responsive Datatable -->







    </div>
</div>